<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Tasks.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <userSettings>
        <Tasks.My.MySettings>
            <setting name="ThemeColor" serializeAs="String">
                <value>0, 160, 233</value>
            </setting>
            <setting name="TForeColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="NoticeLevel" serializeAs="String">
                <value>75</value>
            </setting>
            <setting name="WarningLevel" serializeAs="String">
                <value>90</value>
            </setting>
            <setting name="RemindInterval" serializeAs="String">
                <value>900000</value>
            </setting>
            <setting name="RunWhenSysStart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HideWhenAutoRun" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FirstRun" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DecreaseAnimation" serializeAs="String">
                <value>False</value>
            </setting>
        </Tasks.My.MySettings>
    </userSettings>
</configuration>
